  <!-- <main class="error-page">
    <h1><%= title %></h1>
    <section class="error-message">
      <p><%= message %></p>
      <% if (error.stack) { %>
        <pre><%= error.stack %></pre>
      <% } %>
      <p>Please use the navigation above to continue browsing.</p>
    </section>
  </main> -->

  <main class="error-page">
  <h1><%= title %></h1>
  <section class="error-message">
    <p><%= message %></p>
    <% if (error.stack) { %>
      <!-- Show stack trace only in dev -->
      <details>
        <summary>Developer Details</summary>
        <pre><%= error.stack %></pre>
      </details>
    <% } %>
    <p>Please use the navigation above to continue browsing.</p>
  </section>
</main>

